<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>ReceptionistJS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bei ReceptionistJS handelt es sich um eine Applikation um sich automatisch für Veranstaltungen beim Eintreffen per Voice-Interface anzumelden.</p>
        <div padding></div>
        <h3>Team:</h3>
        <p>Dennis Stoklosa</p>
        <p>Frederik Hoffmann</p>
        <p>Leon Jäkel</p>
        <p>Nils Fenzl</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic - An app development platform</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>NestJS - A progressive Node.js web framework</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Jovo - Build Alexa Skills and Google Actions</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
