.card-title {
  font-size: 20px;
  color: black;
  padding: 5px;
}

.card-subtitle {
  padding: 5px;
}

.button {
  padding: 5px;
}

.eventButtons {
  text-align: center;
}

.ion-card {
  margin-bottom: 10px;
}

.side-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #00CED1;
  text-align: center;
  padding:20px;
}

#noAttendees {
  text-align: center;
}
